[Unit]
Description=Neural Text Server
After=multi-user.target
OnFailure=unit-status-telegram@%n.service
StartLimitBurst=2
StartLimitIntervalSec=30

[Service]
WorkingDirectory=/opt/neuraltextserver
ExecStart=make run
Restart=on-failure
RestartSec=5
Type=simple

[Install]
WantedBy=multi-user.target
