[Unit]
Description=Neural Text Server
After=multi-user.target
OnFailure=unit-status-telegram@%n.service
StartLimitBurst=2
StartLimitIntervalSec=60

[Service]
WorkingDirectory=/opt/neuraltextserver
ExecStart=/opt/neuraltextserver/venv/bin/gunicorn api.app:app --bind unix:odin.sock --timeout 180
Restart=on-failure
RestartSec=5
Type=simple

[Install]
WantedBy=multi-user.target
