<!doctype html>
<title>ODIN - API Documentation</title>
<h1>ODIN - API Documentation</h1>

{% for endpoint in endpoints %}
<div class="endpoint">
  <h2 class="endpoint-heading">
    <span class="endpoint-method">{{ endpoint.method }}</span>
    <span class="endpoint-path">{{ endpoint.path }}</span>
  </h2>

  <span class="endpoint-description">{{ endpoint.description }}</span>

  {% if endpoint.params|length != 0 %}
  <div class="endpoint-parameters">
    <h3>Query Parameters</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for param in endpoint.params %}
          <td>{{ param.name }}</td>
          <td>{{ param.type }}</td>
          <td>{{ param.description }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
  {% endif %}

  <div class="endpoint-response">
    <h3>Example Response</h3>
    <div class="response-example">
      {{ endpoint.response }}
    </div>
  </div>
</div>
{% endfor %}

<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .endpoint {
    border: 1px solid black;
    padding: 12px;
    margin-bottom: 30px;
    width: 40%;
  }
  .endpoint h1, h2, h3 {
    margin: 5px 0;
    padding: 0;
  }
  .endpoint h3 {
    margin: 13px 0;
  }
  .endpoint-heading {
    margin-bottom: 10px;
  }
</style>
